CDE_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="data_element_set">
      <element name="id">
        <a:documentation>Each set has a unique identifier of the format "RDES[0-9]+" (e.g., "RDES42") and a textual name.</a:documentation>
        <data type="string">
          <param name="pattern">RDES\d+</param>
        </data>
      </element>
      <element name="name">
        <text/>
      </element>
      <element name="description">
        <text/>
        <a:documentation>plain text, or XHTML div are acceptable</a:documentation>
      </element>
      <ref name="version"/>
      <optional>
        <ref name="references"/>
      </optional>
      <optional>
        <ref name="index_codes"/>
      </optional>
      <optional>
        <element name="images">
          <oneOrMore>
            <ref name="image"/>
          </oneOrMore>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="modality"/>
      </zeroOrMore>
      <optional>
        <ref name="biological_sex"/>
      </optional>
      <optional>
        <ref name="age_range"/>
      </optional>
      <optional>
        <ref name="authors"/>
      </optional>
      <oneOrMore>
        <ref name="history"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="specialty"/>
      </oneOrMore>
      <element name="elements">
        <oneOrMore>
          <ref name="data_element"/>
        </oneOrMore>
      </element>
    </element>
  </start>
  <define name="data_element">
    <element name="element">
      <a:documentation>Each data element has a unique identifier of the format "RDE[0-9]+" (e.g., "RDE54") and a textual name.</a:documentation>
      <element name="id">
        <data type="string">
          <param name="pattern">RDE\d+</param>
        </data>
      </element>
      <element name="name">
        <text/>
      </element>
      <element name="definition">
        <text/>
        <a:documentation>Each CDE must have a definition.</a:documentation>
      </element>
      <ref name="version"/>
      <optional>
        <ref name="references"/>
      </optional>
      <optional>
        <ref name="index_codes"/>
      </optional>
      <optional>
        <element name="images">
          <oneOrMore>
            <ref name="image"/>
          </oneOrMore>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="modality"/>
      </zeroOrMore>
      <optional>
        <ref name="biological_sex"/>
      </optional>
      <optional>
        <ref name="age_range"/>
      </optional>
      <optional>
        <ref name="authors"/>
      </optional>
      <oneOrMore>
        <ref name="history"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="specialty"/>
      </zeroOrMore>
      <choice>
        <element name="integer_values">
          <optional>
            <element name="min">
              <data type="integer"/>
            </element>
          </optional>
          <optional>
            <element name="max">
              <data type="integer"/>
              <a:documentation>Must be greater than the min attribute</a:documentation>
            </element>
          </optional>
          <optional>
            <element name="step">
              <data type="integer"/>
              <a:documentation>Default is 1</a:documentation>
            </element>
          </optional>
          <optional>
            <element name="unit">
              <data type="Name"/>
            </element>
          </optional>
        </element>
        <element name="float_values">
          <optional>
            <element name="min">
              <data type="float"/>
            </element>
          </optional>
          <optional>
            <element name="max">
              <data type="float"/>
              <a:documentation>Must be greater than the min attribute</a:documentation>
            </element>
          </optional>
          <optional>
            <element name="step">
              <data type="integer"/>
            </element>
          </optional>
          <optional>
            <element name="unit">
              <data type="Name"/>
            </element>
          </optional>
        </element>
        <element name="boolean_values">
          <data type="boolean"/>
        </element>
        <element name="value_set">
          <optional>
            <element name="min_cardinality">
              <data type="nonNegativeInteger"/>
              <a:documentation>defines the minimum number of values to select from the value set</a:documentation>
            </element>
          </optional>
          <optional>
            <element name="max_cardinality">
              <data type="positiveInteger"/>
              <a:documentation>defines the maximum number of values to select from the value set</a:documentation>
            </element>
          </optional>
          <oneOrMore>
            <element name="value">
              <element name="value">
                <data type="Name"/>
              </element>
              <element name="name">
                <text/>
              </element>
              <optional>
                <element name="definition">
                  <text/>
                </element>
              </optional>
              <optional>
                <ref name="references"/>
              </optional>
              <optional>
                <element name="images">
                  <oneOrMore>
                    <ref name="image"/>
                  </oneOrMore>
                </element>
              </optional>
              <optional>
                <ref name="index_codes"/>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </choice>
    </element>
  </define>
  <define name="age_range">
    <a:documentation>Named Pattern Definitions</a:documentation>
    <element name="age_range">
      <optional>
        <element name="upper_bound">
          <data type="float"/>
        </element>
      </optional>
      <optional>
        <element name="lower_bound">
          <data type="float"/>
        </element>
      </optional>
      <a.documentation xmlns="">The range of applicable ages for the data element or set, specified in fractional years (e.g. 4 months = 0.33 years)</a.documentation>
    </element>
  </define>
  <define name="authors">
    <a:documentation>Each data element or set can have 0 or more individual and/or organizational authors</a:documentation>
    <element name="authors">
      <zeroOrMore>
        <ref name="person"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="org"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="biological_sex">
    <element name="biological_sex">
      <choice>
        <value>M</value>
        <value>F</value>
      </choice>
    </element>
  </define>
  <define name="person">
    <element name="person">
      <element name="name">
        <text/>
      </element>
      <interleave>
        <optional>
          <element name="orcid_id">
            <text/>
          </element>
        </optional>
        <zeroOrMore>
          <element name="twitter_handle">
            <text/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="url">
            <text/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="role">
            <choice>
              <value>author</value>
              <value>editor</value>
              <value>translator</value>
              <value>reviewer</value>
              <value>contributor</value>
            </choice>
          </element>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="org">
    <element name="organization">
      <interleave>
        <element name="name">
          <text/>
        </element>
        <optional>
          <element name="abbreviation">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="url">
            <data type="anyURI"/>
          </element>
        </optional>
        <optional>
          <element name="comment">
            <text/>
          </element>
        </optional>
        <zeroOrMore>
          <element name="role">
            <choice>
              <value>contributor</value>
              <value>sponsor</value>
              <value>translator</value>
              <value>reviewer</value>
              <value>author</value>
            </choice>
          </element>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="index_codes">
    <element name="index_codes">
      <oneOrMore>
        <element name="index_code">
          <element name="system">
            <choice>
              <value>RADLEX</value>
              <value>SNOMEDCT</value>
              <value>LOINC</value>
            </choice>
          </element>
          <element name="code">
            <data type="normalizedString"/>
          </element>
          <optional>
            <element name="url">
              <data type="anyURI"/>
            </element>
          </optional>
          <optional>
            <element name="display">
              <text/>
            </element>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="image">
    <element name="image">
      <interleave>
        <element name="url">
          <data type="anyURI"/>
        </element>
        <optional>
          <element name="height">
            <data type="positiveInteger"/>
          </element>
        </optional>
        <optional>
          <element name="width">
            <data type="positiveInteger"/>
          </element>
        </optional>
        <optional>
          <element name="caption">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="rights">
            <text/>
          </element>
        </optional>
        <optional>
          <ref name="authors"/>
        </optional>
        <optional>
          <ref name="references"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="modality">
    <element name="modality">
      <element name="system">
        <value>RadLex</value>
      </element>
      <optional>
        <element name="code">
          <value>CT</value>
        </element>
        <element name="name">
          <value>Computed Tomography</value>
        </element>
        <element name="url">
          <value>http://radlex.org/RID/RID10321</value>
        </element>
      </optional>
      <optional>
        <element name="code">
          <value>FL</value>
        </element>
        <element name="name">
          <value>Fluoroscopy</value>
        </element>
        <element name="url">
          <value>http://radlex.org/RID/RID10361</value>
        </element>
      </optional>
      <optional>
        <element name="code">
          <value>MR</value>
        </element>
        <element name="name">
          <value>Magnetic Resonance Imaging</value>
        </element>
        <element name="url">
          <value>http://radlex.org/RID/RID10312</value>
        </element>
      </optional>
      <optional>
        <element name="code">
          <value>NM</value>
        </element>
        <element name="name">
          <value>Nuclear Medicine</value>
        </element>
        <element name="url">
          <value>http://radlex.org/RID/RID10330</value>
        </element>
      </optional>
      <optional>
        <element name="code">
          <value>PET</value>
        </element>
        <element name="name">
          <value>Positron Emission Tomography</value>
        </element>
        <element name="url">
          <value>http://radlex.org/RID/RID10337</value>
        </element>
      </optional>
      <optional>
        <element name="code">
          <value>US</value>
        </element>
        <element name="name">
          <value>Ultrasound</value>
        </element>
        <element name="url">
          <value>http://radlex.org/RID/RID10326</value>
        </element>
      </optional>
      <optional>
        <element name="code">
          <value>XR</value>
        </element>
        <element name="name">
          <value>Projection Radiography</value>
        </element>
        <element name="url">
          <value>http://radlex.org/RID/RID10345</value>
        </element>
      </optional>
    </element>
  </define>
  <define name="references">
    <element name="references">
      <oneOrMore>
        <element name="reference">
          <element name="citation">
            <text/>
          </element>
          <a.documentation xmlns="">Required - Provide a bibliographic citation, including all the author names (no et Al)</a.documentation>
          <optional>
            <element name="doi_uri">
              <data type="anyURI"/>
            </element>
          </optional>
          <optional>
            <element name="pubmed_id">
              <data type="integer"/>
            </element>
          </optional>
          <optional>
            <element name="url">
              <data type="anyURI"/>
            </element>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="status_attrs">
    <element name="date">
      <data type="date"/>
    </element>
    <element name="status">
      <choice>
        <value>proposed</value>
        <value>published</value>
        <value>retired</value>
      </choice>
    </element>
  </define>
  <define name="specialty">
    <element name="specialty">
      <element name="name">
        <text/>
      </element>
      <element name="abbreviation">
        <choice>
          <value>AB</value>
          <value>BR</value>
          <value>CA</value>
          <value>CH</value>
          <value>ER</value>
          <value>GI</value>
          <value>GU</value>
          <value>HN</value>
          <value>IR</value>
          <value>MI</value>
          <value>MK</value>
          <value>NR</value>
          <value>OB</value>
          <value>OI</value>
          <value>OT</value>
          <value>PD</value>
          <value>QI</value>
          <value>RS</value>
          <value>VI</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="history">
    <zeroOrMore>
      <element name="event">
        <ref name="status_attrs"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="version">
    <element name="version">
      <element name="name">
        <text/>
      </element>
      <ref name="status_attrs"/>
    </element>
  </define>
</grammar>
