CDE_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="data_element_set">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id">
          <xs:annotation>
            <xs:documentation>Each set has a unique identifier of the format "RDES[0-9]+" (e.g., "RDES42") and a textual name.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="RDES\d+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="name"/>
        <xs:element ref="description"/>
        <xs:element ref="version"/>
        <xs:element minOccurs="0" ref="references"/>
        <xs:element minOccurs="0" ref="index_codes"/>
        <xs:element minOccurs="0" ref="images"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="modality"/>
        <xs:element minOccurs="0" ref="biological_sex"/>
        <xs:element minOccurs="0" ref="age_range"/>
        <xs:element minOccurs="0" ref="authors"/>
        <xs:group maxOccurs="unbounded" ref="history"/>
        <xs:element maxOccurs="unbounded" ref="specialty"/>
        <xs:element ref="elements"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="images">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="image"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="elements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="element"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="element">
    <xs:annotation>
      <xs:documentation>Each data element has a unique identifier of the format "RDE[0-9]+" (e.g., "RDE54") and a textual name.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="RDE\d+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="name"/>
        <xs:element ref="definition"/>
        <xs:element ref="version"/>
        <xs:element minOccurs="0" ref="references"/>
        <xs:element minOccurs="0" ref="index_codes"/>
        <xs:element minOccurs="0" ref="images"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="modality"/>
        <xs:element minOccurs="0" ref="biological_sex"/>
        <xs:element minOccurs="0" ref="age_range"/>
        <xs:element minOccurs="0" ref="authors"/>
        <xs:group maxOccurs="unbounded" ref="history"/>
        <xs:element maxOccurs="unbounded" ref="specialty"/>
        <xs:choice>
          <xs:element ref="integer_values"/>
          <xs:element ref="float_values"/>
          <xs:element ref="boolean_values"/>
          <xs:element ref="value_set"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="definition" type="xs:string"/>
  <xs:element name="integer_values">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:integer"/>
        <xs:element minOccurs="0" name="max" type="xs:integer"/>
        <xs:element minOccurs="0" ref="step"/>
        <xs:element minOccurs="0" ref="unit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="step" type="xs:integer"/>
  <xs:element name="unit" type="xs:Name"/>
  <xs:element name="float_values">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:float"/>
        <xs:element minOccurs="0" name="max" type="xs:float"/>
        <xs:element minOccurs="0" ref="step"/>
        <xs:element minOccurs="0" ref="unit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="boolean_values" type="xs:boolean"/>
  <xs:element name="value_set">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="min_cardinality"/>
        <xs:element minOccurs="0" ref="max_cardinality"/>
        <xs:element maxOccurs="unbounded" name="value">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:Name"/>
              <xs:element ref="name"/>
              <xs:element minOccurs="0" ref="definition"/>
              <xs:element minOccurs="0" ref="references"/>
              <xs:element minOccurs="0" ref="images"/>
              <xs:element minOccurs="0" ref="index_codes"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="min_cardinality" type="xs:nonNegativeInteger"/>
  <xs:element name="max_cardinality" type="xs:positiveInteger"/>
  <xs:element name="age_range">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="upper_bound"/>
        <xs:element minOccurs="0" ref="lower_bound"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="upper_bound" type="xs:float"/>
  <xs:element name="lower_bound" type="xs:float"/>
  <xs:element name="authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="organization"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="biological_sex">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="M"/>
        <xs:enumeration value="F"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="orcid_id"/>
          <xs:element ref="twitter_handle"/>
          <xs:element name="url" type="xs:string"/>
          <xs:element name="role">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="author"/>
                <xs:enumeration value="editor"/>
                <xs:enumeration value="translator"/>
                <xs:enumeration value="reviewer"/>
                <xs:enumeration value="contributor"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="orcid_id" type="xs:string"/>
  <xs:element name="twitter_handle" type="xs:string"/>
  <xs:element name="organization">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="name"/>
        <xs:element name="abbreviation" type="xs:string"/>
        <xs:element name="url" type="xs:anyURI"/>
        <xs:element ref="comment"/>
        <xs:element name="role">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="contributor"/>
              <xs:enumeration value="sponsor"/>
              <xs:enumeration value="translator"/>
              <xs:enumeration value="reviewer"/>
              <xs:enumeration value="author"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="comment" type="xs:string"/>
  <xs:element name="index_codes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="index_code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="index_code">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="system">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="RADLEX"/>
              <xs:enumeration value="SNOMEDCT"/>
              <xs:enumeration value="LOINC"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="code" type="xs:normalizedString"/>
        <xs:element minOccurs="0" name="url" type="xs:anyURI"/>
        <xs:element minOccurs="0" ref="display"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="display" type="xs:string"/>
  <xs:element name="image">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="url" type="xs:anyURI"/>
        <xs:element ref="height"/>
        <xs:element ref="width"/>
        <xs:element ref="caption"/>
        <xs:element ref="rights"/>
        <xs:element ref="authors"/>
        <xs:element ref="references"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="height" type="xs:positiveInteger"/>
  <xs:element name="width" type="xs:positiveInteger"/>
  <xs:element name="caption" type="xs:string"/>
  <xs:element name="rights" type="xs:string"/>
  <xs:element name="modality">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="system">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="DICOM"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="code">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="CR"/>
              <xs:enumeration value="CT"/>
              <xs:enumeration value="DX"/>
              <xs:enumeration value="IVUS"/>
              <xs:enumeration value="MG"/>
              <xs:enumeration value="MR"/>
              <xs:enumeration value="NM"/>
              <xs:enumeration value="PT"/>
              <xs:enumeration value="RF"/>
              <xs:enumeration value="RG"/>
              <xs:enumeration value="US"/>
              <xs:enumeration value="XA"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="url">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="http://dicom.nema.org/medical/dicom/current/output/html/part03.html#sect_C.7.3.1.1.1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="references">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="reference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="citation"/>
        <xs:element minOccurs="0" ref="doi_uri"/>
        <xs:element minOccurs="0" ref="pubmed_id"/>
        <xs:element minOccurs="0" name="url" type="xs:anyURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="citation" type="xs:string"/>
  <xs:element name="doi_uri" type="xs:anyURI"/>
  <xs:element name="pubmed_id" type="xs:integer"/>
  <xs:group name="status_attrs">
    <xs:sequence>
      <xs:element ref="date"/>
      <xs:element ref="status"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="date" type="xs:date"/>
  <xs:element name="status">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="proposed"/>
        <xs:enumeration value="published"/>
        <xs:enumeration value="retired"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="specialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element name="abbreviation">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="AB"/>
              <xs:enumeration value="BR"/>
              <xs:enumeration value="CA"/>
              <xs:enumeration value="CH"/>
              <xs:enumeration value="ER"/>
              <xs:enumeration value="GI"/>
              <xs:enumeration value="GU"/>
              <xs:enumeration value="HN"/>
              <xs:enumeration value="IR"/>
              <xs:enumeration value="MI"/>
              <xs:enumeration value="MK"/>
              <xs:enumeration value="NR"/>
              <xs:enumeration value="OB"/>
              <xs:enumeration value="OI"/>
              <xs:enumeration value="OT"/>
              <xs:enumeration value="PD"/>
              <xs:enumeration value="QI"/>
              <xs:enumeration value="RS"/>
              <xs:enumeration value="VI"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="history">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="event"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="event">
    <xs:complexType>
      <xs:group ref="status_attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="version">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:group ref="status_attrs"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
